body {
    font-family: Arial, sans-serif;
    background: #000000;
    margin: 0;
    padding: 0;
}

header {
    background: #ff0000;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: rgb(201, 55, 55);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
